//Fonts
@font-face{
  font-family: RissaTypeFace;
  src: url(../fonts/RissaTypeface.otf);
}
@font-face{
  font-family: Montserrat;
  src: url(../fonts/MontserratAlternates-SemiBold.otf);
}

@font-face{
  font-family: Times_Bold;
  src: url(../fonts/Times_Bold.ttf)
}



//Global
.rissa_font{
  font-family: RissaTypeFace, sans-serif;
}
.semibold_font{
  font-family: SemiBold, sans-serif;
}
.center-div{
  float: none;
  margin: auto;
}
svg path {
  fill: #FFFFFF;
}
.close_icon{
  opacity: .8;
}
.icon-bar{
  height: 1px;
  background: grey;
  width: 21px;
  float: none;
  margin: 7px auto auto;
}
.arrow_icon img{
  width: 20px !important;
  height: 25px;
  margin-left: 10px;
}


//Main Styles
//Menu start
nav{
  display: none;
  z-index: 1001;
  position: absolute;
  left: 0;
  min-width: 65px;
  width: 85px;
  background: #262626;
  height: auto;
  color: white;
  .mobile_menu{
    padding: 21px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 35px;
    &:hover{
      cursor: pointer;
    }
  }
  .navbar-brand{
    line-height: 66px;
    font-family: MontserratBold, sans-serif;
    vertical-align: middle;
    padding: 0 0;
    font-size: 15px;
    font-weight: bold;
    transform: rotate(-90deg);
  }
  .share{
    width: 100%;
    position: absolute;
    bottom: 35px;
    text-align: center;
    cursor: pointer;
  }
}
.fa-close:hover{
  color: red;
}
.fa-bars:hover{
  color: orangered;
}
//Menu end

//Main start
.main{
  float: right;
}
//Main End

//Carousel start
.carousel-inner + div{
  position: absolute;
  bottom: 15px;
  left: 42px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 56px;
  vertical-align: middle;
  height: 56px;
  color: white;
  font-family: Times_Bold, sans-serif;
  font-size: 24px;
  background: rgba(0,0,0, .5);
}
.carousel-inner, .item, .item.active{
  margin-top: -40px;
  max-height: 550px;
  &.active{
    padding-left: 0;
    padding-right: 0;
  }
  img{
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.carousel-indicators{
  position: absolute;
  right: 0;
  left: inherit;
  bottom: -2px;
  min-height: 75px;
  margin-bottom: 0;
  background: white;
  line-height: 75px;
  vertical-align: middle;
  width: 40%;
  li{
    color: lightgrey;
    background: rgba(211, 211, 211, .8);
    width: 6px;
    height: 6px;
    margin-right: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  li.active{
    margin-right: 45px;
    width: 6px;
    height: 6px;
    background: black;
  }
}
//Carousel end

//Content start
.content{
  padding: 22px 0 0 0;
  background: #f6f6f6;
  h1, h3{
    margin-bottom: 0;
    margin-top: 0;
  }
  .header{
    min-width: 209px;
    max-width: 700px;
    h1{
      font-family: Times_Bold, sans-serif;
      font-size: 34px;
    }

  }
  .sub_header{
    min-width: 209px;
    max-width: 456px;
    h3{
      font-family: "Open Sans",sans-serif;
      font-size: 16px;
      line-height: 22px;
    }
    margin-top: 11px;
  }
  div{
    padding-left: 0;
    padding-right: 0;
  }
  div:first-child>div:first-child:not(.header){
    padding-left: 57px;
    padding-top: 14px;
    padding-bottom: 60px;
  }
  img{
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .img{
    max-height: 203px;
    min-height: 179px;
    img{
      width: 101%;
      max-height: 179px;
      min-height: 179px;
    }
    &  + div{
      background: #262626;
      max-height: 203px;
      min-height: 179px;
      div{
        color:  #ffffff;
        font-weight: 400;
      }
      div:first-child{
        .rissa_font;
        font-size: 73.62px;
        line-height: 150px;
      }
      div:last-child{
        font-family: MontserratBold, sans-serif;
        font-size: 18px;
        margin-top: -18px;
      }
    }
  }
  .pic{
    img{
      margin-top: -30px;
    }
  }
}
//Content end

//Collapsed menu start
#menu{
  display: none;
  margin-top: 50px;
  .logo{
    .rissa_font;
    color:  #ffffff;
    font-size: 73.62px;
    font-weight: 400;
    line-height: 120px;
  }
  ul li a{
    color: white;
    font-size: 36px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    &:hover{
      background: transparent;
      color: orangered;
    }
  }

}

//Collapsed menu end

//Animation
.animation_menu{
  animation: animate_right 0.5s 1;
  -webkit-animation: animate_right 0.5s 1;
  -moz-animation: animate_right 0.5s 1;
  -o-animation: animate_right 0.5s 1;
}
.animation_mobile_menu{
  animation: animate_mobile_right 0.5s 1;
  -webkit-animation: animate_mobile_right 0.5s 1;
  -moz-animation: animate_mobile_right 0.5s 1;
  -o-animation: animate_mobile_right 0.5s 1;
}
.animate_left{
  animation: animate_left 0.5s 1;
  -webkit-animation: animate_left 0.5s 1;
  -moz-animation: animate_left 0.5s 1;
  -o-animation: animate_left 0.5s 1;
}
@keyframes animate_right{
  to{min-width: 500px}
}
@keyframes animate_mobile_right{
  to{min-width: 300px}
}
@keyframes animate_left{
  to{width: 85px}
}

//Media start
@media only screen and (max-width: 767px){
  .carousel-indicators li.active{
    margin-right: 4px;
  }
  .carousel-indicators li{
    margin-right: 4px;
  }
  .carousel-inner + div{
    padding-left: 12px;
    padding-right: 12px;
    line-height: 42px;
    height: 42px;
  }
  .header{
    text-align: center;
    h1{
      font-size: 23px !important;
      padding-left: 15px;
    }
  }
  .sub_header{
    h3{
      font-size: 14px !important;
      padding-left: 15px;
    }
  }
  .content .img + div div:first-child{
    font-size: 43px;
    line-height: 110px;
  }
  .content .img + div div:last-child{
    font-size: 14px;
    margin-top: -28px;
  }
  .content .img + div{
    min-height: 176px;
  }
  .carousel, .carousel-inner, .carousel-inner .item, .carousel-inner .active{
    min-height: 209px;
  }
  .carousel-inner .item>img{
    min-height: 279px;
  }
  .carousel-inner + div, .item + div{
    font-size: 10px;
    left: 26px;
  }
  .content div:first-child > div:first-child:not(.header){
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1200px){
  .content .pic img{
    max-height: 348px;
    max-width: 389px;
    float: right;
  }
  .pic{
    max-height: 368px;
    max-width: 389px;
    float: right;
  }
  .content .img + div{
    min-height: 205px;
  }
  .content .img, .content .img img {
    max-height: 205px;
  }
  .content div:first-child > div:first-child:not(.header){
    padding-bottom: 21px;
    padding-top: 0;
  }
  .sub_header{
    max-width: 754px;
  }

}
@media only screen and (max-width: 1200px) and (min-width: 767px){
  .content .img{
    min-height: 203px;
  }
  .content .pic img{
    max-height: 479px;
  }
  .content .img + div div:first-child{
    line-height: 115px;
  }
  .content .img + div div:last-child{
    margin-top: 0;
  }
}
@media only screen and (max-width: 1600px) and (max-height: 1100px){
  .mobile_menu, .navbar-brand, #menu{
    position: fixed;
  }
  .mobile-menu{
    top:0;
  }
  .navbar-brand{
    top: 105px;
  }
  .icon_bars{
    float: left;
  }
  #menu{
    width: 500px;
  }

}
@media only screen and (min-width: 1200px) and (max-height: 600px){
  .mobile_menu, .navbar-brand, #menu{
    position: fixed;
  }
  .mobile-menu{
    top:0;
  }
  .navbar-brand{
    top: 105px;
  }
  .icon_bars{
    float: left;
  }
  #menu{
    width: 500px;
  }
}
@media only screen and (max-width: 767px) and (max-height: 970px){
  #menu{
    width: 300px;
  }
}
//Media end